
a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
   
}
button{
    background-color: black;
    height: 40px;
    border-radius: 7px;
    margin-left: 110px;
    font-family: 'Courier New', Courier, monospace;
}
.all_control{
    background-color: darkcyan;
    height: 70px;
    text-align: right;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 15px 20px black;
}
.new{
    background-color: darkslateblue;
    height: 700px;
    width: 300px;
    padding: 10px;
    margin-top: -100px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media print{
    .hide{
        display: none;
    }
}
